<!DOCTYPE html>
<html lang="eng">
	<head>
		{{.Header}}
		<title>Watdowedo - Bad path</title>
	</head>
	<body>
		<navbar>
			{{.Navbar}}
		</navbar>
		<span class="w-[600px]">
			<h1 class="text-4xl text-center mx-32 my-16 mb-10">
				Bad path - 404
			</h1>
            <h3 class="text-2xl text-center mx-32 my-8 mb-20">Are you sure about the link you used ?</h3>
		</span>
	<footer class="fixed bottom-0">
		{{.Footer}}
	</footer>
</html>