<!DOCTYPE html>
<html lang="eng">
	<head>
		{{.Header}}
		<title>Watdowedo - Home</title>
	</head>
	<body>
		<navbar>
			{{.Navbar}}
		</navbar>
		<span class="w-[600px]">
			<h1 class="text-4xl text-center mx-32 my-16 mb-20">
				A new journey in sight or you just want to discover the best addresses ?
			</h1>
		</span>
		<div
			class="bg-primary w-56 mx-auto p-6 rounded-md relative z-10 hover:scale-105 transition duration-700 ease-in-out transform-gpu"
		>
			<a href="./tripbuilder">
				<button class="text-2xl">Try our trip builder</button>
			</a>
		</div>
	</body>
	<footer>
		{{.Footer}}
	</footer>
</html>
