<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../static/css/output.css" />
	</head>
	<menu>
		<img src="../static/images/icon/avatar.png" />
		<ul class="list-none">
			<li>Personal details</li>
			<li>My trips</li>
			<li>Security</li>
			<li>Preferences</li>
			<li>Notifications</li>
		</ul>
	</menu>
</html>
