<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../static/css/output.css" />
		<title>Watdowedo - Home</title>
	</head>
	<body>
		<navbar>
			<div class="bg-primary">
				<h1 class="text-3xl p-8">Watdowedo</h1>
			</div>
		</navbar>
		<form>
			<div class="flex">
				<div class="mx-auto my-10 text-xl">
					Your basement :
					<input
						type="text"
						placeholder="Paris, New york, ..."
						class="mx-auto input input-primary input-bordered w-1/5 h-4 p-4 text-xl"
					/>
				</div>
				<div class="">
					<fieldset>
						<div class="">
							<input
								type="radio"
								class="p-6"
								id="sm-walker"
								name="walking-level"
							/><label for="sm-walker">Small walker (1-5 km / day)</label>
						</div>
						<div>
							<input
								type="radio"
								class="p-6"
								id="walker"
								name="walking-level"
							/>
							<label for="walker">Walker (+5 km / day)</label>
						</div>
						<div>
							<input
								type="radio"
								class="p-6"
								id="gd-walker"
								name="walking-level"
							/><label for="gd-walker">Good walker (+10 km / day)</label>
						</div>
					</fieldset>
				</div>
				<div>
					<input type="checkbox" class="toggle toggle-primary" />Invalide
				</div>
				<div class="box-border h-auto w-auto bg-primary">
					<button type="submit">Apply</button>
				</div>
			</div>
		</form>
	</body>
</html>
