<!DOCTYPE html>
<html lang="eng">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../static/css/output.css" />
		<title>Watdowedo - Home</title>
	</head>
	<body class="bg-false-white">
		<navbar>
			<div class="bg-primary">
				<h1 class="text-3xl p-8">Watdowedo</h1>
			</div>
		</navbar>
		<form>
			<div>
				<!-- City text box -->
				<div class="mx-auto my-10 text-xl">
					<div class="flex justify-center items-center">
						<p class="box-border w-40">Your basement :</p>
						<input
							type="text"
							placeholder="Paris, New york, ..."
							class="shadow appearance-none border w-1/2 over-cellphone:w-1/5 h-4 p-4 text-xl"
						/>
					</div>
				</div>

				<!-- Radio walking level -->
				<div
					class="grid grid-cols-3 gap-2 over-cellphone:gap-10 px-2 over-cellphone:px-14 py-2 over-cellphone:py-10"
				>
					<div>
						<input
							type="radio"
							class="hidden"
							id="sm-walker"
							name="walking-level"
						/><label
							for="sm-walker"
							class="rounded-md radio-checked:bg-secondary-orange block p-6"
							><img
								class="box-border h-14 w-14 mx-auto"
								src="../static/images/icon/person-walking-slowly.png"
							/>
							<p class="text-center">Small walker (1-5 km / day)</p></label
						>
					</div>
					<div>
						<input
							type="radio"
							class="hidden"
							id="walker"
							name="walking-level"
							checked
						/>
						<label
							for="walker"
							class="rounded-md radio-checked:bg-secondary-orange block p-6 min:h-72 sm:h-auto"
							><img
								class="box-border h-14 w-14 mx-auto"
								src="../static/images/icon/person-walking.png"
							/>
							<p class="text-center">Walker (+5 km / day)</p>
						</label>
					</div>
					<div>
						<input
							type="radio"
							class="hidden"
							id="gd-walker"
							name="walking-level"
						/><label
							for="gd-walker"
							class="rounded-md radio-checked:bg-secondary-orange block p-6"
							><img
								class="box-border h-14 w-14 mx-auto"
								src="../static/images/icon/person-running.png"
							/>
							<p class="text-center">Good walker (+10 km / day)</p></label
						>
					</div>
				</div>

				<!-- Radio valid or not-->
				<div
					class="grid grid-cols-2 gap-2 over-cellphone:gap-10 lg:gap-32 lg:px-56 xl:px-72 py-2 over-cellphone:py-10 px-2 over-cellphone:px-32"
				>
					<div>
						<input
							type="radio"
							class="hidden"
							id="invalid"
							name="validity"
						/><label
							for="invalid"
							class="rounded-md radio-checked:bg-secondary-orange block p-6"
							><img
								class="box-border h-14 w-14 mx-auto"
								src="../static/images/icon/disability.png"
							/>
							<p class="text-center">Invalid</p></label
						>
					</div>
					<div>
						<input
							type="radio"
							class="hidden"
							id="valid"
							name="validity"
							checked
						/><label
							for="valid"
							class="rounded-md radio-checked:bg-secondary-orange block p-6"
							><img
								class="box-border h-14 w-14 mx-auto"
								src="../static/images/icon/person-walking.png"
							/>
							<p class="text-center">Valid</p></label
						>
					</div>
				</div>

				<!-- Radio has a car or not -->
				<div
					class="grid grid-cols-2 gap-2 over-cellphone:gap-10 lg:gap-32 lg:px-56 xl:px-72 py-2 over-cellphone:py-10 px-2 over-cellphone:px-32"
				>
					<div>
						<input type="radio" class="hidden" id="car" name="drive" /><label
							for="car"
							class="rounded-md radio-checked:bg-secondary-orange block p-6"
							><img
								class="box-border h-14 w-14 mx-auto"
								src="../static/images/icon/disability.png"
							/>
							<p class="text-center">I have a car</p></label
						>
					</div>
					<div>
						<input
							type="radio"
							class="hidden"
							id="foots"
							name="drive"
							checked
						/><label
							for="foots"
							class="rounded-md radio-checked:bg-secondary-orange block p-6"
							><img
								class="box-border h-14 w-14 mx-auto"
								src="../static/images/icon/person-walking.png"
							/>
							<p class="text-center">I have my foots</p></label
						>
					</div>
				</div>
				<!-- Activities the people want to do-->
				<div>
					<ul>
						<li>Sport</li>
						<li>History</li>
						<li>Beach</li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<!-- Apply button -->
				<div
					class="over-cellphone:p-8 over-cellphone:flex over-cellphone:justify-end"
				>
					<div
						class="box-border h-12 over-cellphone:w-32 lg:right-24 bg-secondary-orange over-cellphone:rounded-lg text-xl font-semibold flex justify-center items-center"
					>
						<button type="submit">Apply!</button>
					</div>
				</div>
			</div>
		</form>
	</body>
	<!-- footer -->
	<footer class="bg-neutral-content bottom-0 inset-x-0 pt-6 pb-8">
		<div class="grid grid-cols-2 over-cellphone:grid-cols-4 py-4 gap-4">
			<div class="footer-logo">
				<img
					src="images/Icones/logo_blanc_entier.png"
					alt="logo de l'entreprise"
					class="footer-logo-picture"
				/>
			</div>
			<div class="footer-society-list">
				<h1 class="text-center font-semibold text-xl pb-6">Société</h1>
				<ul class="text-center">
					<li>Condition d'utilisation</li>
					<li>Politique de confidentialité</li>
					<li>Politique de cookies</li>
					<li>A propos de nous</li>
				</ul>
			</div>
			<div class="footer-help-list">
				<h1 class="text-center font-semibold text-xl pb-6">Aide</h1>
				<ul class="text-center">
					<li>FAQs</li>
					<li>Nous contacter</li>
				</ul>
			</div>
			<div>
				<h1 class="text-center font-semibold text-xl pb-6">Follow us</h1>
				<ul class="grid grid-cols-1 sm:grid-cols-2 gap-4 p-4">
					<a href="https://www.facebook.com">
						<li
							class="mx-auto box-border h-auto max-h-14 over-cellphone:h-14 w-auto max-w-14 over-cellphone:w-14"
						>
							<img
								src="../static/images/logos/logo_facebook.png"
								alt="logo facebook"
							/>
						</li>
					</a>
					<a href="https://www.instagram.com">
						<li
							class="mx-auto box-border h-auto max-h-14 over-cellphone:h-14 w-auto max-w-14 over-cellphone:w-14"
						>
							<img
								src="../static/images/logos/logo_insta.png"
								alt="logo instagram"
							/>
						</li>
					</a>
					<a href="https://www.youtube.com">
						<li
							class="mx-auto box-border h-auto max-h-14 over-cellphone:h-14 w-auto max-w-14 over-cellphone:w-14"
						>
							<img
								src="../static/images/logos/logo_ytb.png"
								alt="logo youtube"
							/>
						</li>
					</a>
					<a href="https://www.twitter.com">
						<li
							class="mx-auto box-border h-auto max-h-14 over-cellphone:h-14 w-auto max-w-14 over-cellphone:w-14"
						>
							<img src="../static/images/logos/logo_X.png" alt="logo X" />
						</li>
					</a>
				</ul>
			</div>
		</div>
		<a href="https://www.flaticon.com/free-icons/walk" title="walk icons"
			>Walk icons created by Freepik - Flaticon</a
		>
	</footer>
</html>
